.container {
    display: grid;
    grid-row-gap: 1%;
    padding: 2%;
  }


.containerPhotoList {
    columns: 300px 3;
    column-gap: 5px;
  }

  @media (max-width: 450px) {
    .containerPhotoList {
      columns: 400px 1;
    } 
  } 

  /* @media (min-width: 450px) and (max-width: 500px){
    .containerPhotoList {
      columns: 100px 2;
    } 
  } 
  
  @media (min-width: 500px) and (max-width: 800px) {
    .containerPhotoList {
      columns: 100px 3;
    } 
  } 
  
  @media (min-width: 801px) {
    .containerPhotoList {
      columns: 100px 5;
    }  
  } */